@use 'sass:color';
@use '@/styles/variables' as *;

@mixin input-base($border-color) {
    padding: 0.6rem 0.8rem;
    border: 1px solid $border-color;
    border-radius: $radius-md;
    font-size: 1rem;
    background-color: $color-surface-hover;
    color: $color-text-dark;
    transition: border $transition-base, box-shadow $transition-base;

    &:focus {
        outline: none;
        border-color: $color-primary;
        box-shadow: 0 0 0 3px $color-primary-soft;
    }
}