@use 'sass:color';
@use '@/styles/variables' as *;

.home {
    padding: 16px 24px;
}

.home-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    transition: all 0.2s ease;
}

.home-link img {
    width: 20px;
    height: 20px;
    transition: transform 0.2s ease;
}

.home-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.home-link:hover img {
    transform: scale(1.1);
}

.homeLink { @extend .home-link; }