@use 'sass:color';
@use '@/styles/variables' as *;
@use '@/styles/imput-mixins' as mixins;

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    label {
        font-weight: 600;
        font-size: 0.95rem;
        color: $color-text-dark;
    }
}

.inputType-text     { @include mixins.input-base($color-border); }
.inputType-email    { @include mixins.input-base($color-primary-light); }
.inputType-tel      { @include mixins.input-base($color-action); }
.inputType-password { @include mixins.input-base($color-border); }
.inputType-date     { @include mixins.input-base($color-text-medium); }
.inputType-number   { @include mixins.input-base($color-border); }
.inputType-search   { @include mixins.input-base($color-primary-light); }
.inputType-url      { @include mixins.input-base($color-border); }